.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#024277, #212b46);
}

.title{
  font-size: 85px;
  color: #FFF;
  animation: flipTitle 2s;
}

@keyframes flipTitle {
  from{
    transform: rotateX(90deg);
  }
  to{
    transform: rotateX(0deg);
  }
}

.subtitle{
  font-size: 15px;
  color: #FFF;
  margin-top: 15px;
  margin-bottom: 10px;
}

.containerInput{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin: 30px 0;
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  width: 600px;
}

.select{
  border: 0;
  font-size: 20px;
  outline: none;
  margin-right: 8px;
  width: 200px;
}

.select::placeholder{
  color: #F1F1F1;
}

#cepSel{
  width: 180px;
}

#timeSel{
  width: 180px;
}

#dateSel{
  width: 180px;
  height: 36px;
  color: hsl(0, 0%, 20%);
}

.buttonSearch{
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.buttonSearch:hover{
  transform: scale(1.2);
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFF;
  width: 500px;
  border-radius: 8px;
  margin-top: 10px;
}

.main h2{
  margin: 16px 0;
  font-size: 39px;
}

.main .warning {
  font-size: 20px;
  margin: 10px;
}

.main span{
  margin-bottom: 16px;
  font-weight: bold;
}

@media (max-width: 640px){
  .title{
    font-size: 60px;
  }

  .subtitle{
    width: 300px;
    text-align: center;
  }

  .main h2{
    font-size: 28px;
  }

  .main {
    width: 80%;
    min-height: 250px;
  }

  .containerInput{
    width: 400px;
  }

  .select{
    width: 120px;
  }
}
